<main class="mt-5" id="login">

    <div class="card bg-dark text-center">
        <div class="card-body">
            <form id="formLogin">
                {{!-- action="/SignIn" method="post" --}}
                <h1>&#128372;&#128372;&#128372;</h1>
                <h5 class="card-title text-center">Ingrese sus credenciales</h5>
                <div class="row d-flex align-items-center mb-1">
                    <div class="col-12"><label for="email" class="form-label">Email:</label></div>
                    <div class="col-7 m-auto"><input type="email" name="email" id="email" class="form-control"
                            required />
                    </div>
                </div>
                <div class="row d-flex align-items-center">
                    <div class="col-12"><label for="password" class="form-label">Password:</label></div>
                    <div class="col-7 m-auto"><input type="password" name="password" id="password" class="form-control"
                            required /></div>
                </div>
                <button class="btn bg-light my-3" type="submit">Ingresar &#128373;</button>
            </form>
        </div>
    </div>
</main>

<script>

    const formLogin = document.getElementById('formLogin')
    formLogin.addEventListener('submit', async (event) => {
        try {
            event.preventDefault();
            let formData = new FormData(formLogin);

            let response = await fetch("/api/v1/SignIn", {
                method: "POST",
                body: formData
            });

            let data = await response.json();
            if (response.status == 200) {
                alert(data.message)
                localStorage.setItem("token", data.token)
                //console.log(data.token)
                location.href="/perfil?token="+data.token
            } else {
                alert(data.message)
                localStorage.removeItem("token")
            }
        } catch (error) {
            alert("Error en proceso de login.")
            localStorage.removeItem("token")

        }
    });




</script>