<main class="container">
    <section>
        <h3>Datos Usuario:</h3>
        <p>Id: {{usuario.id}}</p>
        <p>Email: {{usuario.email}}</p>
    </section>
</main>

<script>

    alert("Bienvenido " + "{{usuario.email}}")

</script>