* {
    margin: 0;
    padding: 0;
    color: white;
}

body {
    background: rgb(33 37 41);
    color: white;
}

#login {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 60vh;
}

a.nav-link {
    color: white;
}